/* You can add global styles to this file, and also import other style files */
.info{
    color: rgb(26, 178, 26);
    background-color:rgb(201, 221, 215);
    padding: 10px;
}
.error{
    color: rgb(243, 241, 241);
    background-color:rgb(216, 79, 79);
    padding: 10px;
}